<div class="users">
    <h1><u>Adnat</u></h1>
    <h2>Sign up</h2>
        <%= form_for @user do |f| %>
          <div>
            <%= f.label 'Name: '%>
            <%= f.text_field :name, required: true %><br>
          </div><br>
          <div>
            <%= f.label 'Email: '%>
            <%= f.email_field :email, required: true %><br>
          </div><br>
          <div>
            <%= f.label 'Password'%><br>
            <%= f.label '(6 characters minimum)'%><br>
            <%= f.password_field :password, required: true, minlength: 6 %><br>
          </div><br>
          <div>
            <%= f.label 'Password confirmation '%><br>
            <%= f.password_field :password_confirmation, required: true %><br>
          </div><br>
          <button type="submit">Sign up</button>
        <% end %><br>
    <%= link_to "Log In", login_path %><br>
</div


