<h1><u>Adnat</u></h1>
<span>Logged in as </span><%= link_to 'Log Out', logout_path, method: :delete %><br>
<h2><%=  %></h2>
<h4>Shifts</h4>
  <table style="width:100%">
  <tr>
    <th>Employee name</th>
    <th>Shift date</th> 
    <th>Start time</th>
    <th>Finish time</th>
    <th>Break length (minutes)</th>
    <th>Hours worked</th>
    <th>Shift cost</th>
  </tr>
  <% @shifts.each do |shift| %>
    <tr>
       <td></td>
       <td></td>
       <td><%= shift.start %></td>
       <td><%= shift.finish %></td>
       <td><%= shift.break_length %></td>
       <td></td>
       <td></td>
       </tr>
    <% end %>