<h1><u><%= link_to 'Adnat', organisations_path %></u></h1>
<span>Logged in as <b><%= @user.name %></b>&nbsp&nbsp</span><%= link_to 'Log Out', logout_path, method: :delete %><br>
<h2><%= Organisation.find_by_id(@user.organisation_id).name %></h2>
<h4>Shifts</h4>
  <table style="width:90%">
  <tr>
    <th>Employee name</th>
    <th>Shift date</th> 
    <th>Start time</th>
    <th>Finish time</th>
    <th>Break length (minutes)</th>
    <th>Hours worked</th>
    <th>Shift cost</th>
  </tr>
  <% @shifts.reverse.each do |shift| %>
    <tr>
       <td><%= User.find_by_id(shift.user_id).name %></td>
       <td><%= shift_date(shift) %></td>
       <td><%= shift_start(shift) %></td>
       <td><%= shift_finish(shift) %></td>
       <td><%= shift.break_length %></td>
       <td><%= hours_worked(shift) %></td>
       <td>$<%= shift_cost(@user, shift) %></td>
    </tr>
    <% end %>
    </table>
      
      <%= form_tag '/shifts/create' do %>
        <table style="width:90%">
          <tr><td><%= @user.name %></td>
                <%= hidden_field_tag 'user_id', @user.id %>
            <td><%= text_field_tag :date %></td>
            <td><%= text_field_tag :start_time %></td>
            <td><%= text_field_tag :finish_time %></td>
            <td><%= text_field_tag :break_length %></td>
            <td><%= submit_tag 'Create Shift' %></td> 
          </tr>
        </table>
      <% end %>
   